<section class="border  align-items-center flex-column">
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container-fluid justify-content-between ">
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%=products_index_path%>">Home</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/products/sell">+Sell</a>
        </li>

        <li class="nav-item dropdown dropdown-menu-end">

        </li>

        
        <form class="d-flex">
            <input class="form-control me-2 g-4" type="search" placeholder="Search" aria-label="Search">
            <button  type="submit" class="btn btn-outline-light">Search</button>
      </form>

      </ul>
    </div>
    
    <div class="dropdown">
      <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      <%= current_user.present? ? current_user.name[0,1] : "login"%>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">  
        <li><a class="dropdown-item" href="#"><%= current_user.present? ? current_user.name : "login"%></a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="<%= edit_user_registration_path  (current_user) %>">edit profile</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <a class="dropdown-item" class="icon" href="/users/sign_out"><span class="glyphicon glyphicon-log-out"></span>sign-out</a>
      </ul>
    </div>
  </div>
  </div>
</nav>
</section>
