<h1><%= @category.category_name %>  </h1>
<p><%= link_to "Destroy", category_path(@category.id), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p> 
<p><%= link_to "edit", edit_category_path(@category.id) %></p> 
